html{
	margin: 0;
	border: 0;
}

body{
	background-color: #222;
	font-family: Helvetica;
}

#gameArea{
	width: 997px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	font-family: 'Mouse Memoirs';
}

#mainMenu{
	background-color: #333;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background-image: url('../img/hud/title.png');
}

#startGameButton {
    /*background-color: #777777;*/
    width: 183px;
    height: 82px;
    position:  relative;
    margin: 0 auto;
    font-size:  48px;
    top:  200px;
    /*top:  100px;*/
    cursor: pointer;
    text-align: center;
    background-image: url('../img/hud/balao0_1.png');
    background-repeat: no-repeat;
    line-height: 75px;
}

#startGameButton:hover{
	/*background-color: #AAA;*/
	background-image: url('../img/hud/balao_1.png');
}

#canvas{
	position: absolute;
	z-index: 1;
}

#loadingProgressArea{
    height: 30px;
    width: 80%;
    position:  relative;
    margin: 0 auto;
    top:  100px;
}

#loadingBar{
	/*background-color: #DD7744;*/
	width: 0px;
	/*height: 20px;*/
	height: 30px;
	top: 380px;
	position: absolute;
	background-image: url('../img/background/footsteps3.png');
}

#loadingNoirAnimation{
	position: absolute;
	top: 200px;
}